.disable-pointer{
  pointer-events: none;
}

.box{
  border:1px solid #000;
  height:300px;
}
.bg{
  background-color: #0bcc59;
}
.flex-col{
  flex-direction:column;
}

.gap-1{
  gap: 1rem;
}

.flex{
  display: flex;
}

.flex-1{
  flex:1 1 0;
}

.hide{
  opacity: 0;
}

.transition-all{
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}




